$gray5: #555555;
$blackgray: #222222;
$lightblue: #01b1ea;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../assets/img/bg.png);
}

a {
    color: $lightblue;
    &:visited {
        color: $gray5;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px gray;
    background: white;
}

// HEADER
.header {
    height: 145px;
    background: #f0f0f0;
}

.logo {
    padding: 20px;
    margin-left: 20px;

    img {
        float: left;
        width: 100px;
    }

    a {
        float: left;
        color: $lightblue;
        letter-spacing: 4px;

        font: {
            size: 30px;
            family: "Open Sans", Arial, Helvetica, sans-serif;
            weight: bold;
        }

        text: {
            transform: uppercase;
            decoration: none;
            shadow: 0 2px 1px $blackgray;
        }

        margin: {
            top: 25px;
            left: 25px;
        }

        transition: all 300ms;

        &:hover {
            text-shadow: 0 2px 1px $blackgray 0 0 4px $lightblue;
        }
    }
}

//MENU
.menu {
    clear: both;
    background: $blackgray;
    color: white;
    height: 55px;
    border-bottom: 4px solid $lightblue;
}

.menu {
    ul {
        list-style: none;
        text-decoration: none;
        margin: 0 auto;
        margin-left: 25px;

        li {
            float: left;
            line-height: 55px;
            border-right: 1px solid #363636;
        }
    }

    a {
        display: block;
        color: white;
        padding: 0 12px;
        text-decoration: none;
        transition: all 300ms;

        &:first-child {
            border-left: 1px solid #363636;
        }

        &:hover {
            background: $lightblue;
        }
    }
}

//CONTENT
.content {
    margin: 0 auto;
    overflow: hidden;
    background: white;
}

//SIDEBAR
.sidebar {
    width: 22%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;

    .block_aside {
        display: block;
        width: 90%;
        margin: 5px auto;
        padding: 10px;
    }

    h3 {
        display: block;
        color: $blackgray;
        width: 100%;
        text-align: center;
        padding: 2px 0;
        margin-bottom: 15px;
        background: #e1e1e1;
        border-bottom: 2px solid $lightblue;

        font: {
            size: 16px;
            weight: bold;
        }
    }

    ul {
        margin: 20px 0;

        li {
            list-style: square;
            margin: 5px 0;
            margin-left: 20px;

            a {
                color: $lightblue;
                transition: all 100ms;

                &:hover {
                    color: #01779e;
                }
            }
        }
    }
}

//FORMS
.form_container {
    width: 50%;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
    display: block;
    width: 95%;
    margin: 2px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 2px #cccccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;

    &:focus {
        border: 1px solid #1579b5;
        color: black;
    }
}

input[type="button"],
input[type="submit"],
button,
.button {
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

.button {
    background: #33ae3d;
    color: white !important;
    text-decoration: none;
    transition: all 200ms;

    &:hover {
        background: #1d6623;
    }
}

.button-small {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.button-handle {
    margin: 5px 0px;
}

.button-red {
    background: red;
    border: 1px solid #cf1717;
    transition: all 200ms;

    &:hover {
        background-color: rgb(121, 0, 0);
    }
}

label,
input[type="button"],
input[type="submit"],
button {
    display: block;
    margin-top: 10px;
}

//MAIN
.main {
    width: 75%;
    float: right;
    border-left: 1px solid #cccccc;
    box-shadow: -5px -1px 5px #dddddd;
    padding: 25px;

    h1 {
        font: {
            size: 24px;
            weight: normal;
        }

        letter-spacing: 1px;
        text-align: center;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 20px;
        padding: 0 20px 20px 20px;
    }
}

.product {
    width: 30%;
    float: left;
    margin: 15px 10px;
    text-align: center;
    margin-bottom: 30px;

    a {
        color: black;
        text-decoration: none;

        &:hover{
            color: $gray5;
        }
    }
    img {
        height: 170px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        font-weight: bold;
        color: #555555;
        margin-bottom: 10px;
    }
}

// FOOTER
footer {
    // clear: both;
    text-align: center;
    padding: 20px 0;
    color: white;
    background: #222222;
    border-top: 4px solid $lightblue;
}

.alert_green {
    color: green;
}

.alert_red {
    color: red;
}

table {
    border: 1px solid $gray5;
    width: 100%;
    text-align: center;

    td {
        border-top: 1px solid #cccccc;
        padding: 2px;
    }
}

.thumb {
    width: 100px;
}
